[Unit]
Description=KATranslationCheck server
After=network.target

[Service]
Environment=PORT=%i
Environment=GOOGLE_APPLICATION_CREDENTIALS=/mnt/101watts-111cc836b6db.json
Type=simple
ExecStart=/bin/bash -c 'python3 DatastoreServer.py'
WorkingDirectory=/mnt/KATranslationCheck
Restart=always

[Install]
WantedBy=multi-user.target
