[Unit]
Description=KATranslationCheck server
After=network.target

[Service]
Environment=PORT=%i
Type=simple
ExecStart=/usr/bin/python3 DatastoreServer.py
WorkingDirectory=/mnt/KATranslationCheck
Restart=always

[Install]
WantedBy=multi-user.target
