[Unit]
Description=KATranslationCheck server

[Service]
Environment=PORT=%i
Type=simple
ExecStart=/usr/bin/python3 DatastoreServer.py
WorkingDirectory=/mnt/production/KATranslationCheck
Restart=always

[Install]
WantedBy=multi-user.target
