<mat-toolbar color="primary" id="mainToolbar">
  <span>RecallDB</span>
  <!-- Recalls -->
  <a mat-button onclick="window.history.back()" style="margin-left: 25px;">
    <mat-icon>chevron_left</mat-icon>
    Zurück
  </a>

  <span *ngIf="sessionObs | async as session">
    <!-- Recalls -->
    <a mat-button [routerLink]="['/recalls']" style="margin-left: 25px;">
      <mat-icon>drive_eta</mat-icon>
      Rückrufe
    </a>

    <a mat-button [routerLink]="['/analysis']">
      <mat-icon>insert_chart</mat-icon>
      Analysen
    </a>

    <a mat-button [routerLink]="['/account']">
      <mat-icon>account_circle</mat-icon>
      Benutzer
    </a>

    <a mat-button [routerLink]="['/admin']" *ngIf="session.roles.includes('admin')">
      <mat-icon>settings</mat-icon>
      Administratorbereich
    </a>
  </span>
</mat-toolbar>
